<%= form_for ([:admin, @slide]), html: { multipart: true } do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :desc_left %>
    <%= f.text_area :desc_left, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :desc_right %>
    <%= f.text_area :desc_right, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.submit :class=>'btn btn-info' %>
  </div>
<% end %>
