<%= render :partial => 'menu_content', :locals => { :s => @slide } %>
<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <%= link_to (admin_slide_path) do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>
    </div>
    <div class="col-xs-11">
      <h1>Editing Slide</h1>
    </div>
  </div>

  <%= render 'form', slide: @slide %>

</div>
