<%= content_for :menu_content do %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="<%= edit_slide_path %>">Edit</a></li>
    <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")), slide_path(s), method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Something else</a></li>
  </ul>
</li>
<% end %>
