<p id="notice"><%= notice %></p>

<div class="container">
  <% @slides.each do |slide| %>
    <%= link_to (slide) do %>
      <div class="row text-center">
        <div class="row">
          <h3><%= slide.name %></h3>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%= slide.desc_left %>
          </div>
          <div class="col-md-6">
            <%= image_tag slide.picture.url(:medium) %>
          </div>
          <div class="col-md-2">
            <%= slide.desc_right %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
