<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <%= link_to (slides_path) do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>
    </div>
    <div class="col-xs-11">
      <h1>
        <strong>Titre:</strong>
        <%= @slide.name %>
      </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <p><strong>Description gauche :</strong></p>
      <p><%= @slide.desc_left %></p>
    </div>

    <div class="col-md-6">
      <%= image_tag @slide.picture.url(:medium) %>
    </div>

    <div class="col-md-3">
        <p><strong>Description droite :</strong></p>
        <p><%= @slide.desc_right %></p>
    </div>
  </div>
</div>
