// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
   border: 1px solid red;
}

a,
a:hover {
   text-decoration:none;
   color:black;
  //  background-color:white;
}

.navbar {
  border-radius: 0;
}

footer {
  background-color: black;
}

.text-center {
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
}
