<!DOCTYPE html>
<html>
  <head>
    <title>Sliders</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= slides_path %>">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="<%= new_slide_path %>">New slide <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <%= yield :menu_content %>

            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <li><a href="<%= admin_slides_path %>">Interface admin</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <p>
              OKLM
            </p>
          </div>
        </div>
      </div>
    </footer> -->
  </body>
</html>
